.gifs {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    grid-gap: 16px;
    text-align: center;
    padding: 0px 20px;
    min-height: 100vh;
  }
  
  .gif{
    
    padding: 0 2px;

    img{
      width: 100%;
      height: 100%;
    }
  }
  
  .loader {
    color: white;
  }

  .wrap{
    .input-form{
      padding:50px 20px;

      button{
        
        margin-left: 10px;
      }

      
    }

    
  }

  @media (max-width: 990px){
    .gifs{
      grid-template-columns: repeat(3, minmax(200px, 1fr));
    }
  }

  @media(max-width:770px){
    .gifs{
      grid-template-columns: repeat(2, minmax(200px, 1fr));
    }

    .form-control {
      width: 50%;
    }
  }

  @media(max-width:480px){
    .gifs{
      grid-template-columns: repeat(1, minmax(200px, 1fr));
    }
  }